.login-container {
  width: 50vh;
  height: 50vh;
  margin: 50px auto;
  padding: 30px; /* Increase padding to balance larger size */
  border: 1px solid #28a745;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(40, 167, 69, 0.2);
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 4rem; /* Larger font size */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #28a745;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  width: 100%; /* Ensure inputs stretch proportionately */
}

label {
  display: block;
  font-size: 1.2rem; /* Increase label size */
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px; /* Larger padding */
  font-size: 1.1rem; /* Increase input text size */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5fff5;
}

#login_btn {
  width: 26vh;
  padding: 15px; /* Larger button */
  font-size: 1.5rem; /* Larger button text */
  font-weight: bold;
  background-color: #0f441c;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}


@media (max-width: 900px) {
  .login-container {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    font-size: 1rem;
    padding: 12px;
  }
}
